body
{
	background-image: url('photos/back.jpg');
	position: relative;	
}

.back
{
	width: 90%;
	height: 100%;
	position: relative;
	opacity: 1;
	margin:0 auto;
}

.back::before {
	position: absolute;
	background-color: grey;
	background-repeat: repeat;
	background-size: 100%;
	content: "";
	margin-left: auto;
	margin-right: auto;
	opacity: 0.7;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.content {
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

h1
{
	color: white;
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	font-size: 40px;
}

h3{
	color: white;
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	font-size: 20px;
}

td img
{
	width: 200px;
}

td input
{
	width: 150px;
	background-color: thistle;
	border-style: none;
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	font-size: 15px;
	
}

table.tp{
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	font-size: 20px;

}

#option {
	color: white;
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	font-size: 20px;
	padding-left: 10px;
}


form
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	color: white;
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	font-size: 20px;
	text-align: left;
	
}


input.form
{
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	color: black;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}



.but {
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	color: black;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bt {
	font-family: 'Oswald', sans-serif, Arial, Helvetica;
	color: black;
	background-color: thistle;
	text-align: center;
	font-size: 15px;
	border-style: none;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }