.first {
  font-family: 'Fredoka One';
  font-size:32px;
  text-align: center;
  color: '#3c3c3c';
  margin-top: 20px;
}

.titleText{
  font-family: 'Fredoka One';
  font-size: 22px;
  color: '#3c3c3c';

}

.text{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: '#3c3c3c';
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(201,132,116,1) 0%, rgba(199,199,199,1) 35%, rgba(255,255,255,1) 100%);
}

.App-logo {
  height: 300px;
  margin-top: 10px;
}

.title {
  display: block;
  width:100%;
  padding: 20px;
}

.cuisine-text{
  display: block;
  overflow: auto;
}

.rep-cuisine{
  display: block;
  width: 90%;
  padding-bottom: 0;
  margin-top: 10px;
}

.listButton
{
  font-family:'Fredoka One';
}


@media screen and (max-width: 415px) {
  .App-logo {
      height: 200px;
  }

  .titleText {
    font-size: 18px;
  }

  .cuisine-text {
    height: 200px;
  }

  
}


@media screen and (max-width: 700px) {
  
  .cuisine-text {
    height: 260px;
  }

  .title {
    height:550px;
  }
}